<div class="container">
  <div class="row">
    <div class="col-md-4">
      <ul *ngIf="villes" class="list-group">
        <li [ngClass]="v==currentVille?'active':''" *ngFor="let v of villes._embedded.villes"
            class="list-group-item clickable" (click)="onGetCinemas(v)">
          {{v.name}}
        </li>
      </ul>
    </div>
    <div class="col-md-8">
     <div class="panel panel-default">
        <div class="panel-heading">Liste des cinemas</div>
          <div class="panel-body">
            <ul *ngIf="cinemas" class="nav nav-pills">
              <li *ngFor="let c of cinemas._embedded.cinemas" class="clickable" (click)="onGetSalles(c)">
               <a>{{c.name}}</a>
              </li>
            </ul>

            <div class="row" *ngIf="salles">
             <div *ngFor="let s of salles._embedded.salles">
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading">{{s.name}}</div>
                  <div class="panel-body" *ngIf="s.projections">
                    <img src="{{cinemaService.host+'/imageFilm/'+s.projections._embedded.projections[0].film.id}}"/>
                  </div>
                </div>
              </div>

             </div>

            </div>
        </div>
     </div>
    </div>
  </div>
</div>
