<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/cinema">Cinema</a></li>

    </ul>
  </div>
</nav>
<router-outlet>

</router-outlet>





